body{
    background-color: rgb(23, 23, 73);
    
    
}

.container{
    text-align: center;
    margin-top: 22px;

}

h1{
    color: white;
    font-size: 72px;
}

button{
    width: 150px;
    height: 150px;
    background-color: white;
    font-size: 32px;
    border:none;
    outline: none;
    border-radius:5px;
    margin-inline: 11px;
    margin-top: 80px;
    font-weight: bolder;
}